<!DOCTYPE html>
<html>
<head>
	<title>Enter Question</title>
</head>
<body>
	<h1>Enter a New Question</h1>
    <a href="/adminhome">Home</a>
	<form action="/quelogic" method="post">
		{% csrf_token %}
        {{msg}}<br>
		<label for="question">Question:</label>
		<input type="text" name="question" required><br><br>
		<label for="option1">Option 1:</label>
		<input type="text" name="option1" required><br><br>
		<label for="option2">Option 2:</label>
		<input type="text" name="option2" required><br><br>
		<label for="option3">Option 3:</label>
		<input type="text" name="option3" required><br><br>
		<label for="option4">Option 4:</label>
		<input type="text" name="option4" required><br><br>
		<label for="answer">Correct Answer:</label>
		<select name="answer" required>
			<option value="option1">Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select><br><br>
		<label for="topic">Topic:</label>
		<input type="text" name="topic" required><br><br>
		<input type="submit" value="Submit">
	</form>
</body>
</html>
